<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="game.css" />
  </head>
  <body>
    <div id="layout">
      <h1 id="score">Score: 0</h1>
      <div id="content">
        <h2 id="question"></h2>
        <p class="answer one"></p>
        <p class="answer two"></p>
        <p class="answer three"></p>
        <p class="answer four"></p>
      </div>
      <a href="/questions" id="link">Manage questions</a>
    </div>
    <script src="./game.js"></script>
  </body>
</html>
