<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="manage.css" />
  </head>
  <body>
    <div id="layout">
      <h1>Manage questions</h1>
      <div id="manPart">
        <div id="questions"></div>
      </div>
      <h1>Create new questions</h1>
    </div>
    <script src="./manage.js"></script>
  </body>
</html>
