<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>ALLBOOKS</h1>
    <% for (let i = 0; i < result.length; i++) { %>
    <h1><%=result[i].book_name%></h1>
    <% } %>
  </body>
</html>
