* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: rgb(236, 240, 241);
}

#layout {
  width: 1400px;
  margin: 200px auto;
}

#content {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5vh 0;
  border-radius: 25px;
}

#question {
  line-height: 30px;
  margin: 20px 20px;
}

.answer {
  font-size: x-large;
  padding: 10px 30px;
  margin: 10px 200px;
  background-color: rgb(52, 152, 219);
  border-radius: 25px;
  cursor: pointer;
}

#link {
  text-decoration: none;
  font-size: x-large;
  color: orange;
}

.selected {
  background-color: greenyellow;
}